{% extends "app/layout.html" %}
{% block title %} Форма по добавлению людей {% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма по добавлению людей</h1>
        <form method="post">
            {% csrf_token %}
            {{ form }}

            <input type="text" placeholder="Фамилия" class="form-control"><br>
            <input type="text" placeholder="Имя" class="form-control"><br>
            <button class="btn" type="submit">Добавить</button>            
        </form>
    </div>
{% endblock %}

