<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="app/main.css"> 
	<title>{{ title }} - My Django </title>
	{% load static %}
</head>

<div class="style_form">
	<form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label class="label">Введите имя</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label class="label">Введите Фамилию</label><br>
            <input type="text" name="surname" />
		</p>
		<div class="button">
			<input type="submit" value="Добавить" >
		</div>
    </form>
	{% if people.count > 0 %}
		<h2>Список пользователей</h2>
		<div>
			<tr><th>Имя</th></tr>
			{% for person in people %}
			<tr><td>{{ person.name }}</td></tr>
			{% endfor %}
		</div>
    {% endif %}
</div>


